@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        padding-left: 2px;        
    }
    menu a{
        border: 0px;
        border-top-right-radius: 10px;
    }

    main{
        width: 768px;
    }
}