@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

div.conteiner{
    display: grid;
    grid-template-columns: 60px 250px auto;
    grid-template-rows: 150px auto 50px;
}

div.item{
    background-color: #048;
    color: white;
    border: 1px solid black;
    text-align: center;
}